<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <context-param>
        <param-name>RECAPTCHA_SITE_KEY</param-name>
        <param-value>6LfxSFArAAAAAKjnex-Ah5uYrnZ4vEPReBIV1lkq</param-value>
    </context-param>
    <context-param>
        <param-name>RECAPTCHA_SECRET_KEY</param-name>
        <param-value>6LfxSFArAAAAAMLuQO5oDz48TG_0k0tN8loi98tH</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- Login Controller -->
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/google-auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/google-callback</url-pattern>
    </servlet-mapping>
    
    <!-- Error Pages - All use the same error.jsp with dynamic content -->
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/views/common/error.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/views/common/error.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/views/common/error.jsp</location>
    </error-page>
    
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/WEB-INF/views/common/error.jsp</location>
    </error-page>

</web-app>
